@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

/* Variables */
main {
  --primary-btn-color: #ff5300;
  --primary-btn-white-text: #ffffff;
  --black: #171717;
  --grey: #d4d4d4;
  --transition: all 0.2s ease;
  --neutral-900: #171717;
}
/* Button styles */
.btn-primary {
  background: var(--primary-btn-color);
  color: var(--primary-btn-white-text);
  padding: 8px 20px;
  font-size: 12px;
  transition: all 0.2s ease;
}

.bg-white {
  background: var(--primary-btn-white-text) !important;
}

.tab-buttons {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.btn_grey-out {
  background: #e5e5e5;
  color: var(--black);
  transform: var(--transition);
}

.btn_grey-out:hover {
  filter: brightness(70%);
}

/* Breadcrumbs */
.breadCrumbs ul li {
  font-size: 12px;
  color: var(--black);
}

.breadCrumbs ul li::after {
  content: url('./assets/Vector.svg');
  margin: 0px 12px;
}

/* Image cards */
.border-b {
  border-bottom-width: 1px;
}
